
<md-toolbar color="primary">

     <span>Parking App</span>
     <div class="button-row" fxLayout="row" fxShow="false" fxShow.gt-sm >
        <button md-button [routerLink]="['/admin', {outlets: {'adminOutlet': ['viewusers']}}]">View Users <span class="sr-only">(current)</span></button>
        <button md-button [routerLink]="['/admin', {outlets: {'adminOutlet': ['viewbooking']}}]">View Bookings</button>
        <button md-button [routerLink]="['/admin', {outlets: {'adminOutlet': ['viewfeedback']}}]">View FeedBack</button>
        <button md-button [routerLink]="['/admin', {outlets: {'adminOutlet': ['ground']}}]">View Areas</button>
        <button md-button (click)="setDisplayAreas()">Insert Areas</button>
    </div>

    <button md-button [md-menu-trigger-for]="NavMenu" fxHide="false" fxHide.gt-sm>
     <md-icon>menu</md-icon>
    </button>
    <md-menu x-position="before" #NavMenu="mdMenu" >
      <button md-button [routerLink]="['/admin', {outlets: {'adminOutlet': ['viewusers']}}]">View Users <span class="sr-only">(current)</span></button>
        <button md-button [routerLink]="['/admin', {outlets: {'adminOutlet': ['viewbooking']}}]">View Bookings</button>
        <button md-button [routerLink]="['/admin', {outlets: {'adminOutlet': ['viewfeedback']}}]">View FeedBack</button>
        <button md-button [routerLink]="['/admin', {outlets: {'adminOutlet': ['ground']}}]">View Areas</button>
        <button md-button (click)="setDisplayAreas()">Insert Areas</button>
    </md-menu>


     <span class="example-fill-remaining-space"></span>

     <div fxLayout="row" fxShow="false" fxShow.gt-sm>
         <span>{{authService.userName}}</span>
     <button md-button [md-menu-trigger-for]="menu">         
        <md-icon>more_vert</md-icon>
     </button>
        
     </div>

     <button md-button [md-menu-trigger-for]="menu"  fxHide="false" fxHide.gt-sm>
            <span>User Name</span>
     </button>
       <md-menu #menu="mdMenu" x-position="before" >
            <button md-menu-item (click)="setDisplayProfile()">
              <md-icon>fingerprint</md-icon>
              <span>Edit Profile</span>
            </button>
            <button md-menu-item  (click)="logout()">
              <md-icon>power_settings_new</md-icon>
              <span>Log Out</span>
            </button>
       </md-menu>    
</md-toolbar> 

























<!-- Profile Form  -->
<div class="AdminDetail" *ngIf="displayForm_Profile">
  <form class="form-horizontal col-xs-12 col-md-6 col-md-offset-2" #f="ngForm" (ngSubmit)="onSubmitProfile(f.value)" >
  <fieldset >
    <legend class="text-center">PROFILE</legend>
    <div class="form-group">
      <label for="inputName" class="col-xs-3 control-label">Name</label>
      <div  class="col-xs-9">
        <input type="text" class="form-control" name="name" placeholder="Full Name Here" [ngModel]="details.name" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputFName" class="col-xs-3 control-label">Address</label>
      <div class="col-xs-9">
        <input type="text" class="form-control" name="address" placeholder="Address Here" [ngModel]="details.address">
      </div>
    </div>
      <div class="form-group">
      <label for="inputnum" class="col-xs-3 control-label">Cell #</label>
      <div class="col-xs-9">
        <input type="number" class="form-control" name="cellNum" placeholder="Phone Number" [ngModel]="details.cellNum">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-10 col-md-9 col-md-offset-3">
        <button type="reset" class="btn btn-warning">Cancel</button>
        <button type="submit" class="btn btn-primary pull-right">Update!</button>
      </div>
    </div>
  </fieldset>
</form>

</div>
<!-- Profile Form  -->



<!-- SLOTS  Form  -->
<div class="SlotDetail" *ngIf="displayForm_Slots">
  <form class="form-horizontal col-xs-12 col-md-6 col-md-offset-2" #f="ngForm" (ngSubmit)="onSubmitAreas(f.value)" >
  <fieldset >
    <legend class="text-center">SLOTS</legend>
    <div class="form-group">
      <label for="inputAreaName" class="col-xs-3 control-label">Area Name</label>
      <div  class="col-xs-9">
        <input type="text" class="form-control" name="areaName" placeholder="Area Name Here" required ngModel>
      </div>
    </div>
      <div class="form-group">
      <label for="inputslots" class="col-xs-3 control-label">Total Slots</label>
      <div class="col-xs-9">
        <input type="number" class="form-control" name="totalSlots" placeholder="total Slots here" ngModel>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-10 col-md-9 col-md-offset-3">
        <button type="reset" class="btn btn-warning">Cancel</button>
        <button type="submit" class="btn btn-primary pull-right">Update!</button>
      </div>
    </div>
  </fieldset>
</form>

</div>
<!-- SLOTS Form  -->

<!-- Alert MSG  -->
<div  *ngIf="isformSubmitted">
  <div  *ngIf="isCorrect;then success;else danger;" style="bottom:0px;position: absolute;width: 100%;">
  </div>
</div>
<ng-template #success>
  <div class="alert alert-dismissible alert-success text-center msgShow" style="bottom:0px;position: absolute;width: 100%;" >
  <button type="button" class="close" data-dismiss="alert" (click)="changeFlag()">&times;</button>
  <strong> Updated successfully!</strong>
  </div>
</ng-template>
<ng-template #danger>
  <div class="alert alert-dismissible alert-danger text-center msgShow" style="bottom:0px;position: absolute;width: 100%;">
  <button type="button" class="close" data-dismiss="alert" (click)="changeFlag()">&times;</button>
  <strong> Update Failure!</strong>
  </div>
</ng-template>
<!-- Alert MSG  -->

<router-outlet name="groundOutlet"></router-outlet>
<router-outlet name="adminOutlet"></router-outlet>