<md-toolbar color="primary">

     <span>Parking App</span>
     <div class="button-row" fxLayout="row" fxShow="false" fxShow.gt-sm >
        <button md-button [routerLink]="['/resident', {outlets: {'userOutlet': ['setfeedback']}}]">Send FeedBack</button>
        <button md-button [routerLink]="['/resident', {outlets: {'userOutlet': ['userbooking']}}]">View Bookings</button>
        <button md-button [routerLink]="['/resident', {outlets: {'userOutlet': ['viewfeedback']}}]">View FeedBack</button>
        <button md-button [routerLink]="['/resident', {outlets: {'userOutlet': ['ground']}}]">View Areas</button>
        
    </div>

    <button md-button [md-menu-trigger-for]="NavMenu" fxHide="false" fxHide.gt-sm>
     <md-icon>menu</md-icon>
    </button>
    <md-menu x-position="before" #NavMenu="mdMenu" >
      <button md-button [routerLink]="['/resident', {outlets: {'userOutlet': ['setfeedback']}}]">Send FeedBack</button>
        <button md-button [routerLink]="['/resident', {outlets: {'userOutlet': ['userbooking']}}]">View Bookings</button>
        <button md-button [routerLink]="['/resident', {outlets: {'userOutlet': ['viewfeedback']}}]">View FeedBack</button>
        <button md-button [routerLink]="['/resident', {outlets: {'userOutlet': ['ground']}}]">View Areas</button>
    </md-menu>


     <span class="example-fill-remaining-space"></span>

     <div fxLayout="row" fxShow="false" fxShow.gt-sm>
         <span>{{authService.userName}}</span>
     <button md-button [md-menu-trigger-for]="menu">         
        <md-icon>more_vert</md-icon>
     </button>
        
     </div>

     <button md-button [md-menu-trigger-for]="menu"  fxHide="false" fxHide.gt-sm>
            <span>{{authService.userName}}</span><md-icon>more_vert</md-icon>
     </button>
       <md-menu #menu="mdMenu" x-position="before" >
            <!-- <button md-menu-item (click)="setDisplayProfile()">
              <md-icon>fingerprint</md-icon>
              <span>Edit Profile</span>
            </button> -->
            <button md-menu-item  (click)="logout()">
              <md-icon>power_settings_new</md-icon>
              <span>Log Out</span>
            </button>
       </md-menu>    
</md-toolbar> 



<!-- Alert MSG  -->
<div  *ngIf="isformSubmitted">
  <div  *ngIf="isCorrect;then success;else danger;" style="bottom:0px;position: absolute;width: 100%;">
  </div>
</div>
<ng-template #success>
  <div class="alert alert-dismissible alert-success text-center msgShow" style="bottom:0px;position: absolute;width: 100%;" >
  <button type="button" class="close" data-dismiss="alert" (click)="changeFlag()">&times;</button>
  <strong> Updated successfully!</strong>
  </div>
</ng-template>
<ng-template #danger>
  <div class="alert alert-dismissible alert-danger text-center msgShow" style="bottom:0px;position: absolute;width: 100%;">
  <button type="button" class="close" data-dismiss="alert" (click)="changeFlag()">&times;</button>
  <strong> Update Failure!</strong>
  </div>
</ng-template>
<!-- Alert MSG  -->

<router-outlet name="userOutlet"></router-outlet>